@inherits LayoutComponentBase

<PageTitle>CameraSystem.Server</PageTitle>

<div class="navbar navbar-light bg-secondary">
    <div class="container container-fluid">
        <div class="text-white">Архив данных с видеокамеры КПП</div>
        </div>
    </div>
<div class="page">
    <!--<div class="sidebar">
        <NavMenu />
    </div>-->
    
    <main class="container">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
